.ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.ripple-effect {
  transform: scale(40);
}
