<div class="container">
  <div>
    <app-tab>
      <app-tab-item title="Tab 1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, incidunt? Vel,
        nobis
      </app-tab-item>
      <app-tab-item title="Tab 2">Nihil aliquam accusantium sequi fugit mollitia numquam magni rerum totam cupiditate ut
        eos ipsam? Enim debitis
        eligendi a.</app-tab-item>
      <app-tab-item title="Tab 3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, incidunt? Vel,
        nobis
      </app-tab-item>
    </app-tab>
  </div>
</div>
